<div class="container">

  <div class="inline">
    <h1 class="text-center" mx-3>Expense Tracker</h1>
    <h4 class="float-right bg-primary text-white px-3 py-3"> Budget: <b>{{budget}}</b> </h4>
  </div>

  <div class="row my-5">
    <div class="col-md-6 mx-3">
      <h3>Add One Expense</h3>
      <form>
        <div class="form-group row">
          <label for="amount" class="col-sm-2 col-form-label">Amount: </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="amount" placeholder="Amount">
          </div>
        </div>
        <div class="form-group row">
          <label for="source" class="col-sm-2 col-form-label">Source: </label>
          <div class="col-sm-10">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose a Source</option>
              <option value="Salary">Salary</option>
              <option value="Loan">Loan</option>
              <option value="Freelance">Freelance</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="details" class="col-sm-2 col-form-label">Details: </label>
          <div class="col-sm-10">
            <textarea class="form-control" id="details" rows="3" placeholder="Enter Details"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="details" class="col-sm-2 col-form-label">Date: </label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="date">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Add Expense</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <h3>My Expenses</h3>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-6 mx-3">
      <h3>Add Incomes</h3>
        <form>
          <div class="form-group row">
            <label for="amount" class="col-sm-2 col-form-label">Amount: </label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="amount" placeholder="Amount">
            </div>
          </div>
          <div class="form-group row">
            <label for="source" class="col-sm-2 col-form-label">Item: </label>
            <div class="col-sm-10">
             <input type="text" name="item" id="item" class="form-control" placeholder="Item">
            </div>
          </div>
  
          <div class="form-group row">
            <label for="details" class="col-sm-2 col-form-label">Details: </label>
            <div class="col-sm-10">
              <textarea class="form-control" id="details" rows="3" placeholder="Enter Details"></textarea>
            </div>
          </div>
  
          <div class="form-group row">
            <label for="details" class="col-sm-2 col-form-label">Date:</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" id="date">
            </div>
          </div>
  
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Add Income</button>
            </div>
          </div>
        </form>
    </div>
    <div class="col-md-5">
     <h3>My Incomes</h3>
    </div>
  </div>
</div>